:root{
    --main-100:rgb(53, 47, 68);
    --main-200:rgb(73,66,90 );
    --main-300:rgb(92, 84, 112);
    --accent-800:rgb(185, 180, 199);
    --accent-900:rgb(250, 240, 230);
    --maskSize:60%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:var(--main-100);
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
}
main{
    background:var(--main-300);
}