body{
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
}
main{
    min-height: 80dvh;
    background-color: var(--main-300);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 10px 15px;
}
h2{
    align-items: center;
}
.Grid{
    min-height: 60dvh;
}
.deleteWindow ,.buyWindow{
    width: 100dvw;
    height: 100dvh;
    position:fixed;
    right:0;
    bottom: 0;
    box-shadow: inset 0px 0px 0px 50dvw rgba(0, 0, 0, .6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.buyBox{
    height: 40%;
    width: 40%;
}
.deleteBox, .buyBox{
    width: 55%;
    height: 65%;
    background-color: var(--main-300);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    align-items: center;
    padding:30px 10px;
}
@media (max-width:1000px) {
    .deleteBox, .buyBox{
        width: 70%;
        height: 30%;
    }
}
.up > .Left{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0;
}
.up > .Left:hover{
    background-color: transparent;
}
.Buttons > button{
    padding: 10px 15px;
    color:white;
    border-radius: var(--borderRadius);
    border:2px var(--main-200) solid;
    transition:ease .2s;
}
#kupit{
    background-color: green;

}
#kupit:hover{
    background-color: rgb(0, 100, 0);
}
#obratno{
    background:red ;
}
#obratno:hover{
    background-color: rgb(250, 138, 138);
}
#yes{
    background-color: green;
}
#yes:hover{
    background-color: rgb(0, 100, 0);
}
#no{
    background:red ;
}
#no:hover{
    background-color: rgb(250, 138, 138);

}
.up > .Right >button{
    border: 2px solid var(--main-200);
    padding: 10px 15px;
    border-radius: var(--borderRadius);
    color:white;
    transition:ease .2s ;
}
#Buy{
    background-color: green;
}
#Buy:hover{
    background-color: rgb(0, 100, 0);
}
#Delete{
    background:red;
}
#Delete:hover{
    background-color: rgb(250, 138, 138);
}