header{
    color:var(--accent-900);
    width:var(--windowWidth);
    height: 12dvh;
    background: var(--main-300);
    display: flex;
    justify-content: space-between;
    border-radius: var(--borderRadius);
    padding: 10px;
    align-items: center;
}
.Left, .Right{
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Left{
    aspect-ratio: 1;
    flex-direction: column;
    transition:.2s ease;
    border-radius: var(--borderRadius);
}
.Right{
    gap:5px;
}
.Name{
    pointer-events: none;
}
.Person{
    height: inherit;
    aspect-ratio: 1;
    background:var(--accent-900) ;
    mask:url(../media/SVGS/personAdda.svg) center no-repeat;
    mask-size: var(--maskSize);
}
.Search{
    height: inherit;
    aspect-ratio: 1;
    background:var(--main-300);
    align-items: center;
    transition: ease .2s;
    border-radius: var(--borderRadius);
}
.SearchIcon{
    height: inherit;
    aspect-ratio: 1;
    background:var(--accent-900);
    mask:url(../media/SVGS/SearchIco.svg) center no-repeat;
    mask-size: var(--maskSize);
    transition:inherit;
}

.Search:hover{
    background: var(--main-200);
}
.Search:hover .SearchIcon{
    background: var(--accent-800);
}


#Cart{
    height: inherit;
    aspect-ratio: 1;
    background:var(--main-300);
    align-items: center;
    transition: ease .2s;
    border-radius: var(--borderRadius);
}
.CartIcon{
    height: inherit;
    aspect-ratio: 1;
    background:var(--accent-900);
    mask:url(../media/SVGS/ShoppingCartIco.svg) center no-repeat;
    mask-size: var(--maskSize);
    transition: inherit;
}

#Cart:hover{
    background:var(--main-200);
}
#Cart:hover .CartIcon{
 background:var(--accent-800);
}

.Left:hover{
    background-color: var(--main-200);
}
.Home{
    height: 10dvh;
    aspect-ratio: 1;
    background-color: var(--main-300);
    border-radius: calc(var(--borderRadius));
    align-items: center;
    transition: ease .2s;
}
.Home .icon{
    aspect-ratio: 1;
    background:var(--accent-900);
    mask:url(../media/SVGS/HomeIco.svg) no-repeat center;
    mask-size: var(--maskSize);
    border: 5px solid var(--main-200);
}
.Home:hover{
    background: var(--main-200);
}