body{
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
main{
    aspect-ratio: 1/3;
    background-color: var(--main-300);
    border-radius: var(--borderRadius);
    flex-direction: column;
}
ul{
    list-style-type: none;
    gap:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ToMain{
    padding: 15px ;
    outline: none;
    height: 10dvh;
    border-radius: var(--borderRadius);
    background-color: var(--main-300);
    border: solid 2px var(--main-200);
    color:var(--accent-900);
    transition:ease .2s ;
}
.ToMain:hover{
    background-color: var(--main-200);
}
