:root{
    --main-100:#F9F9F9;
    --main-200:#7FC8F8;
    --main-300:#5AA9E6;
    --accent-800:rgb(240, 237, 207);
    --accent-900:rgb(250, 240, 230);
    --maskSize:60%;
    --borderRadius:10px;
    --windowWidth:90dvw;
}
@font-face{
    font-family: 'Montserrat';
    src: url("../media/Fonts/Montserrat/static/Montserrat-Regular.ttf") format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:var(--main-100);
    padding:10px;
    gap:30px;
    color:var(--accent-900);
}
body > *{
    font-family: 'Montserrat';
}
#MainPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
main{
    min-height: 80dvh;
    width: var(--windowWidth);
    background-color: var(--main-300);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 10px 15px;
}
.up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--main-200);
} 
.gridButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gridButtons > button{
   height: 8dvh;
    aspect-ratio: 1;
    border:2px solid var(--main-200);
    border-radius: calc(var(--borderRadius));
    align-items: center;
    transition: ease .2s;
}
button{
    background:var(--main-300)
}
.gridButtons button:hover{
    background: var(--main-200);
}
.Rows .icon{
    aspect-ratio: 1;
    background:var(--accent-900);
    mask:url(../media/SVGS/GridOne.svg) no-repeat center;
    mask-size: calc(var(--maskSize) * 1.1);
    border: 5px solid var(--main-200);
}
.TwoInRow .icon{
    aspect-ratio: 1;
    background:var(--accent-900);
    mask:url(../media/SVGS/GridTwo.svg) no-repeat center;
    mask-size: calc(var(--maskSize) * 1.1);
    border: 5px solid var(--main-200);
}
.ThreeInRow .icon{
    aspect-ratio: 1;
    background:var(--accent-900);
    mask:url(../media/SVGS/GridThree.svg) no-repeat center;
    mask-size: calc(var(--maskSize) * 1.1);
    border: 5px solid var(--main-200);
}
.Pushed{
    background: var(--main-200);
}
.Grid{
    display: grid;
    width: 100%;
    min-height: 60dvh;
    grid-template-columns: 1fr;
    gap: clamp(30px,5rem,5dvw);
    padding:10px;
    grid-template-rows: auto;
    justify-content: center;
    place-items: center;
    align-items: stretch;
}
.tovar{
    width:100%;
    max-height:20dvh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--main-200);
    border-radius: var(--borderRadius);
    padding:40px;
}
.Top{
    height: 70%;
}
.imgshka{
    height:inherit;
    align-self: center;
    aspect-ratio: 1;
    background:var(--accent-800);
    border-radius: var(--borderRadius);
    border:solid 2px var(--main-200);
    cursor:default;
}
.Center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Bottom{
    font-size: clamp(.9rem,1rem,1.3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productLabel{  
    padding: 20px 0;
}
.addicon{
    aspect-ratio: 1;
    background:var(--accent-900);
    mask: url(../media/SVGS/AddCircle.svg) no-repeat center;
    mask-size: calc(var(--maskSize) - 10%);
    align-self: center;
    border: 5px solid var(--main-200);
}
.bottomRow{
    padding:10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Add{
    aspect-ratio: 1;
    height:40px;
    border-radius: calc(var(--borderRadius));
    background:var(--main-300);
    outline: none;
    border: 2px solid var(--main-200);
}
.text{
    align-self: center;
    text-align: center;
}

@media (max-width:700px) {
    .gridButtons{
        display: none;
    }
    .tovar{
        font-size: .7rem;
        max-height:20dvh;
    }
}